<launch>

	<!-- Path parameters -->
	<arg 
		name="path_file" 
		default="$(find ekumen_technical_exercise)/path/square.yaml"
	/>

	<!--arg 
		name="path_file" 
		default="$(find ekumen_technical_exercise)/path/line.yaml"
	/-->

	<!-- Launch action client test -->
	<node
		pkg="ekumen_technical_exercise"
		type="turtle_client"
		name="turtle_client"
		output="screen">

		<!-- Load path -->
		<rosparam 
			command="load" 
			file="$(arg path_file)"/>

	</node>

</launch>