<launch>

	<!-- Path parameters -->
	<arg
		name="path"
		default="line"
	/>

	<arg
		name="path_file"
		default="$(find ekumen_technical_exercise)/path/$(arg path).yaml"
	/>

	<!-- Launch action client test -->
	<node
		pkg="ekumen_technical_exercise"
		type="turtle_client"
		name="turtle_client"
		output="screen">

		<!-- Load path -->
		<rosparam 
			command="load" 
			file="$(arg path_file)"/>

	</node>

	<!-- Run rosbridge and open a WebSocket on port 9090 that the web page will use to communicate with ROS -->
	<node
		pkg="rosbridge_server"
		type="rosbridge_websocket"
		name="rosbridge_websocket" />

</launch>